PORT=5001
NODE_ENV=development

MONGO_URI=mongodb://krishikachoudhary04_db_user:krishika123@ac-sdzi6se-shard-00-00.eub8phz.mongodb.net:27017,ac-sdzi6se-shard-00-01.eub8phz.mongodb.net:27017,ac-sdzi6se-shard-00-02.eub8phz.mongodb.net:27017/internDB?ssl=true&replicaSet=atlas-vnwxso-shard-0&authSource=admin&retryWrites=true&w=majority

JWT_SECRET=supersecretkey
JWT_EXPIRES_IN=7d